.section {
  overflow: hidden;
  width: 100%;
  max-width: 768px;
  padding: 0;
  border: 3px solid white;
  margin: 0 auto 24px;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 12px;
  list-style: none;

  li {
    padding: 0;

    a {
      display: block;
      width: 100%;
      padding: 16px;
      color: white;
      font-size: 20px;
      letter-spacing: 1.8px;
      text-align: center;
    }

    a:hover {
      background-color: rgb(185, 37, 116, 0.5);
      text-decoration-line: underline;
    }
  }
}
