@import "styles/variable.module";

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 32px 16px 150px;
  background-color: #377ab5;
  background-image: url("/assets/beluga.png");
  background-repeat: repeat-x repeat-y;
  background-size: 180px;

  @media screen and (min-width: 768px) {
    background-size: 300px;
  }
}
