@import "styles/variable";

.root {
  padding: 25px;

  ul {
    padding: 20px 0;
  }

  li {
    margin-bottom: 15px;
  }

  p {
    width: 500px;
    // padding-right: 300px;
    margin-bottom: 30px;
  }
}

.sticky_wrapper {
  position: relative;
  height: 210px;
  padding-top: 70px;
  background: $blue;
  font-size: 20px;
  text-align: center;
}

.sticky {
  position: sticky;
  z-index: 100;
  top: -60px; /* position sticky_wrapper is sticky on */
}

/* below is option */

// .sticky_inner {
//   position: relative;
//   height: 200px;
// }

// .sticky .sticky_inner {
//   position: fixed;
//   z-index: 1;
//   top: 55px;
//   right: 0;
//   left: 0;
// }
