$canvas-bg: #1201dc;
$gradation-edge: #e5e5e5;
$black: #000;
$btn-bg: #f5f5f5;
$red: #f32929;
$blue: #4254fb;
$white: #fff;
$gray: #898989;

$green: #189915;
$deep-green: #178b14;

:export {
  deepgreen: $deep-green;
  green: $green;
}
